@import '../../styles//variables.scss';

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  // background-color: transparent;
  // border: 2px solid black;
  margin: 0;
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 100;
}

.hamburgerBox {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburgerInner {
  @include hamburger-line;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburgerInner::before,
.hamburgerInner::after {
  @include hamburger-line;

  content: '';
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburgerInner::before {
  top: -10px;
}

.hamburgerInner::after {
  top: 10px;
}

.hamburgerActive .hamburgerInner {
  background-color: transparent;
}

.hamburgerActive .hamburgerInner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburgerActive .hamburgerInner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform: translateY(-100%);
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 1;
}

.navbarActive {
  transform: translateY(0%);
}

.navItems {
  margin: 75px 0 0 0;
  padding: 0;
  // list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navItem {
  flex: 0 1 100%;
  text-align: center;
  // min-height: 70px;
  display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 5px 0;
  background-color: white;
  // border-bottom: 2px solid white;
}

.navLink {
  // display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: lowercase;
  color: black;
}

.navItemLogo {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .hamburger {
    display: none;
  }

  .navItemHome {
    display: none;
  }

  .navItemLogo {
    display: flex;
  }

  .navbar {
    left: 50%;
    transform: translateY(0%) translateX(-50%);
    height: auto;
    background-color: white;
  }

  .navItems {
    flex-wrap: nowrap;
    margin: 0 auto;
    // padding: 0 5px;
    max-width: 1200px;
    height: 70px;
  }

  .navItem {
    flex: 0 1 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 5px;

    @include hover();
  }

  .navLogoImage {
    cursor: pointer;
  }
}
