@import '../../styles//variables.scss';

.hero {
  background-color: $transparent-black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.heroLogoWrapper {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.heroLink {
  @include buttonLink($padding: 20px, $font-size: 24px);
}

@media (min-width: $breakpoint-tablet) {
  .heroLogo {
    width: 500px;
  }

  .heroLink {
    @include hover();
  }
}
