@import '../../styles//variables.scss';

.linkButtonSection {
  text-align: center;
}

.backLink {
  @include buttonLink($padding: 15px 50px, $font-size: $font-size-regular);

  border: 2px solid black;
  margin: 15px;
}

.collectionCardTitle {
  color: white;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: $font-size-regular;
  text-decoration: none;
  display: block;

  @media (min-width: $breakpoint-tablet) {
    & {
      @include hover();

      width: auto;
      border-radius: 0 0 15px 15px;
    }
  }
}
