@import '../../styles//variables.scss';

.footerWrapper {
  background-color: $transparent-black;
  border: 2px solid white;
  padding: 15px;
  margin: 15px auto 0;
  min-width: 300px;
}

.footerContent,
.footerContent > * {
  color: white;
  text-align: center;
}
