@import '../../styles//variables.scss';

.collectionCard {
  background-color: $transparent-black;
  flex: 0 1 40%;
  margin: 15px;
  min-width: 280px;
  max-width: 320px;
  border-radius: 20px;
  min-height: 400px;

  @include cardBorder;

  @media (min-width: $breakpoint-tablet) {
    & {
      flex: 0 1 46%;
    }
  }
}

.collectionLink {
  @include buttonLink($padding: 10px, $font-size: 20px);

  margin: 10px auto;

  @media (min-width: $breakpoint-tablet) {
    & {
      @include hover();
    }
  }
}
