@import '../../styles//variables.scss';

.collections {
  min-height: 80vh;
}

.collectionCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.collectionCardsTitle {
  @include sectionTitle;
}
