@import '../../styles//variables.scss';

.collections {
  // background-color: $transparent-black;
  min-height: 100vh;
}

.collectionCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collectionCardsTitle {
  color: white;
  background-color: $transparent-black;
  text-align: center;
  padding: 15px;
}
