.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: burlywood;
}

.imageButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
