@import '../../styles/variables.scss';

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $transparent-black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;;
}

.modalNavigation {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
  margin: 5px;
}

.modalNavButton {
  background: white;
  border: none;
  padding: 5px 15px;
  margin: 15px;
  font-size: $font-size-large;
}

.modalNavCloseButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  & svg {
    display: block;
    margin: auto;
  }
}

.imageTitle {
  @include imageTitle;
}
