$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$transparent-black: rgba(20, 20, 20, 0.9);
$transparent-black-light: rgba(20, 20, 20, 0.8);

$main-color: #f4c63c;

$font-size-extra-large: 32px;
$font-size-large: 28px;
$font-size-regular: 24px;
$font-size-medium: 20px;

@mixin buttonLink($padding, $font-size) {
  display: inline-block;
  text-decoration: none;
  border-radius: 10px/30px;
  background-color: white;
  color: black;
  padding: $padding;
  font-size: $font-size;

  @media (min-width: $breakpoint-tablet) {
    @include hover;
  }
}

@mixin hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $main-color;
    border-radius: 10px/30px;
    color: black;
  }
}

@mixin sectionTitle {
  // color: white;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 15px auto;
  font-size: $font-size-large;
  max-width: 768px;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size-extra-large;
  }
}
