$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$transparent-black: rgba(20, 20, 20, 0.9);
$transparent-black-light: rgba(20, 20, 20, 0.8);

$main-color: #f4c63c;

$font-size-extra-large: 38px;
$font-size-large: 30px;
$font-size-regular: 24px;
$font-size-medium: 20px;

@mixin buttonLink($padding, $font-size) {
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: $padding;
  font-size: $font-size;

  @media (min-width: $breakpoint-tablet) {
    @include hover;
  }
}

@mixin hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $main-color;
    color: black;
  }
}

@mixin sectionTitle {
  color: $main-color;
  text-align: center;
  padding: 15px;
  margin: 15px auto;
  font-size: $font-size-extra-large;
  max-width: 768px;
}

@mixin cardBorder {
  border: 4px solid $main-color;
  border-radius: 20px;
}

@mixin imageTitle {
  color: $main-color;
  background-color: $transparent-black;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 15px;
  text-align: center;
}
